[tool.poetry]
name = "pySigma-backend-loki"
version = "0.9.1"
description = "pySigma Loki backend"
readme = "README.md"
authors = ["Nick Moore <nicholas.moore@grafana.com>", "Mostafa Moradian <mostafa.moradian@grafana.com>"]
license = "AGPL-3.0-only"
repository = "https://github.com/grafana/pySigma-backend-loki"
packages = [
    { include = "sigma" }
]

[tool.poetry.dependencies]
python = "^3.8"
pysigma = "^0.9.11"
pysigma-pipeline-sysmon = "^1.0.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
pytest-cov = "^4.1.0"
coverage = "^7.2.6"
mypy = "^1.3.0"
pytest-mypy = "^0.10.3"
types-pyyaml = "6.0.12.10"
flake8 = "^5.0.4"
black = "^23.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
