name: Test
on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ 'ubuntu-20.04' ]
        python-version: [ '3.8', '3.9', '3.10' ]
        poetry-version: [ '1.3' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install
      - name: Run formatter, linter and type checker
        run: |
          poetry run mypy --explicit-package-bases .
      - name: Run unit tests
        run: poetry run pytest --cov=sigma --cov-report term --cov-report lcov:coverage.lcov -vv
      - name: Submit coverage report to Coveralls
        if: ${{ success() }}
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage.lcov
          parallel: true
          flag-name: python-${{ matrix.python-version }}
  finish:
    needs: test
    runs-on: ubuntu-20.04
    steps:
      - name: Finish coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
          carryforward: "python-3.8,python-3.9,python-3.10"
